.layout-container {
	min-height: 100vh;
	width: 100%; /* Allow the layout to take up the full width */
	max-width: 1200px; /* Set a max width to prevent it from becoming too wide */
	margin: 0 auto; /* Center the layout horizontally */
	position: relative;
}

.header {
	display: flex;
	flex-direction: row;
	gap: 26px;
	position: relative;
	margin-top: 24px;
}

.logo {
	width: 160px; /* Adjust logo size */
	height: 160px;
	position: absolute;
	border-radius: 50%;
	top: -20px;
	left: calc(50% - 80px);
}

.navbar {
	background-color: #2D5864;
	padding: 32px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-radius: 12px 12px;
	flex: 1;
}

.nav-links {
	display: flex;
	gap: 2rem; /* Increase space between navbar items */
}

.nav-item {
	text-decoration: none;
	padding: 10px 20px; /* Adjust padding for wider buttons */
	border-radius: 4px;
	transition: background-color 0.3s;
}
.nav-item:hover {
	background-color: #709792;
}

.content {
	flex: 0 0 100%;
}
