.layout-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.logo {
	margin: 20px;
}

.navbar {
	background-color: #2D5864;
	padding: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 0px 0px 12px 12px;
}

.nav-links {
	display: flex;
	gap: 20px;
}

.nav-item {
	text-decoration: none;
	padding: 8px 16px;
	border-radius: 4px;
	transition: background-color 0.3s;
}
.nav-item:hover {
	background-color: #709792;
}

.content {
	flex: 1;
}
