.leaderboard-table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #2D5864;
}

.leaderboard-table thead tr {
	background-color: #293E3E;
}
.leaderboard-table th,
.leaderboard-table td {
	border: 1px solid #2D5864;
	padding: 10px;
	text-align: left;
}

.clickable-row {
	cursor: pointer;
	background-color: #647749;
}
.clickable-row:hover {
	background-color: #788952;
}

.betrayed {
	background-color: #B9673E;
}
.betrayed:hover {
	background-color: #CC6F45;
}
